main {
  .profil-page {
		box-sizing: border-box;
		display: flex; 
		flex-direction: column;
		justify-content: space-between;
		height: 100vh;
		padding: 20px;
		overflow-y: scroll;

		img {
			width: 50%;
			align-self: flex-start;
			@media (min-width: 651px) and (max-width: 1024px) {
				width: 90%;
			}

			@media (min-width: 320px) and (max-width: 650px) {
				width: 100%;
			}
		}

		.profil-and-picture{
			font-size: 15px;
			color: white;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			@media (min-width: 320px) and (max-width: 650px) {
				flex-direction: column-reverse;
			}

			img {
				width: 25%;
				padding-top: 20px;

				@media (min-width: 320px) and (max-width: 650px) {
					width: 85%;
				}
			}
		}

		p {
			padding: 15px;
			margin-top : 50px;
			text-align: justify;
			color: white;
			font-size: 15px;
			width: 60%;
			white-space: pre-wrap;
			@media (min-width: 320px) and (max-width: 650px) {
				width: 80%;
			}
		}
	}
}